# VacationPy

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
os.chdir("../")   # change directory to location of api_key

from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [9]:
# read csv and place in data frome
cityDataDF = pd.read_csv("output_data/cities.csv")
cityDataDF.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,32.05,91.0,45.0,7.45,AR,1.660090e+09
1,1,Rikitea,-23.1203,-134.9692,73.87,79.0,100.0,17.78,PF,1.660090e+09
2,2,Kahului,20.8947,-156.4700,89.62,60.0,20.0,26.46,US,1.660090e+09
3,3,Ullapool,57.8987,-5.1604,56.84,80.0,31.0,9.17,GB,1.660090e+09
4,4,Vladislavovka,45.1667,35.3667,77.83,64.0,61.0,12.41,UA,1.660090e+09

In [10]:
len(cityDataDF)

576

In [11]:
cleancityDataDF = cityDataDF.dropna()
cleancityDataDF

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,32.05,91.0,45.0,7.45,AR,1.660090e+09
1,1,Rikitea,-23.1203,-134.9692,73.87,79.0,100.0,17.78,PF,1.660090e+09
2,2,Kahului,20.8947,-156.4700,89.62,60.0,20.0,26.46,US,1.660090e+09
3,3,Ullapool,57.8987,-5.1604,56.84,80.0,31.0,9.17,GB,1.660090e+09
4,4,Vladislavovka,45.1667,35.3667,77.83,64.0,61.0,12.41,UA,1.660090e+09
...,...,...,...,...,...,...,...,...,...,...
570,570,Siniscola,40.5719,9.6922,72.95,57.0,0.0,5.28,IT,1.660091e+09
571,571,Darnah,32.7670,22.6367,79.25,80.0,0.0,15.84,LY,1.660091e+09
572,572,Sokolo,14.7328,-6.1219,83.17,69.0,84.0,15.84,ML,1.660091e+09
574,574,Mapiripán,2.8892,-72.1256,73.49,94.0,100.0,0.94,CO,1.660091e+09
575,575,Lagoa Vermelha,-28.2086,-51.5258,48.72,95.0,100.0,15.12,BR,1.660091e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
#configure heat map and read key
gmaps.configure(api_key=g_key)

In [13]:
#heat map of humidity 
locations=cleancityDataDF[["Lat","Lng"]]
humidity=cleancityDataDF["Humidity"]
fig=gmaps.figure()
#fig


#add heat map layer to figure 
heatLayer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heatLayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.

#Zero cloudiness.
#Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.

weatherConditionDF = cleancityDataDF.loc[cleancityDataDF["Max Temp"] > 70 & 
                                         (cleancityDataDF["Max Temp"]  <80) &  
                                         (cleancityDataDF["Wind Speed"] > 10) & 
                                         (cleancityDataDF["Cloudiness"] == 0)]
weatherConditionDF.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,32.05,91.0,45.0,7.45,AR,1.660090e+09
1,1,Rikitea,-23.1203,-134.9692,73.87,79.0,100.0,17.78,PF,1.660090e+09
2,2,Kahului,20.8947,-156.4700,89.62,60.0,20.0,26.46,US,1.660090e+09
3,3,Ullapool,57.8987,-5.1604,56.84,80.0,31.0,9.17,GB,1.660090e+09
4,4,Vladislavovka,45.1667,35.3667,77.83,64.0,61.0,12.41,UA,1.660090e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = weatherConditionDF[["City","Country","Lat","Lng"]]
hotel_df["Hotel Name",6] = ""
hotel_df

C:\Users\vertt\AppData\Local\Temp\ipykernel_18184\3557170678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name",6] = ""

               City Country      Lat       Lng (Hotel Name, 6)
0           Ushuaia      AR -54.8000  -68.3000
1           Rikitea      PF -23.1203 -134.9692
2           Kahului      US  20.8947 -156.4700
3          Ullapool      GB  57.8987   -5.1604
4     Vladislavovka      UA  45.1667   35.3667
..              ...     ...      ...       ...             ...
570       Siniscola      IT  40.5719    9.6922
571          Darnah      LY  32.7670   22.6367
572          Sokolo      ML  14.7328   -6.1219
574       Mapiripán      CO   2.8892  -72.1256
575  Lagoa Vermelha      BR -28.2086  -51.5258

[515 rows x 5 columns]

In [12]:
# create a loop through dataframe
params={
    "radius": 5000,
    "type": "lodging",
    "key":g_key
    }

for index, row in hotel_df.iterrows():
    # get longitude and latitude for each row
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
baseURL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
nameAddress=requests.get(baseURL,params=params).json()
#pprint(nameAddress) # print ["results"][0]["name"]

try:
    # populate the array with the hotel name
    hotel_df.loc[index, "Hotel Name"] = nameAddress["results"][0]["name"]
except: 
    print(f" Error finding lodging in {row['City']}. Skipping...")
    pass
hotel_df

               City Country      Lat       Lng    Hotel Name
0           Ushuaia      AR -54.8000  -68.3000
1           Rikitea      PF -23.1203 -134.9692
2           Kahului      US  20.8947 -156.4700
3          Ullapool      GB  57.8987   -5.1604
4     Vladislavovka      UA  45.1667   35.3667
..              ...     ...      ...       ...           ...
570       Siniscola      IT  40.5719    9.6922
571          Darnah      LY  32.7670   22.6367
572          Sokolo      ML  14.7328   -6.1219
574       Mapiripán      CO   2.8892  -72.1256
575  Lagoa Vermelha      BR -28.2086  -51.5258  Hotel Kaianã

[515 rows x 5 columns]

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))